Franscesco William Gazali

2602138536

In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
import statistics as sts
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("data_C.csv")

df

,Unnamed: 0,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,churn
0,0,157138,15638646,Chinweike,628.0,Spain,Female,50.0,4,160133.08,1,1,1,653.53,0
1,1,116144,15695825,Onwumelu,710.0,Spain,Male,34.0,8,0.00,2,1,1,72993.73,0
2,2,145603,15592765,Marks,663.0,France,Female,23.0,8,125470.81,1,1,1,174536.17,0
3,3,79929,15807525,Onyemachukwu,644.0,Spain,Male,45.0,8,0.00,2,0,1,28690.90,0
4,4,52554,15611551,Hill,627.0,Spain,Male,23.0,5,0.00,2,1,0,134483.07,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41253,41253,55217,15641043,Onyemere,641.0,Germany,Male,38.0,2,138166.30,2,0,1,69227.66,0
41254,41254,110969,15674541,Robinson,575.0,France,Male,52.0,8,0.00,2,0,1,111342.66,0
41255,41255,132494,15700601,Kao,571.0,France,Male,34.0,1,119452.03,2,1,1,173511.72,0
41256,41256,31177,15806926,Nkemjika,624.0,France,Male,38.0,4,0.00,1,0,0,40320.30,0
41257,41257,154294,15696231,Chiwetelu,668.0,France,Male,29.0,7,105405.97,1,1,1,149853.89,0

In [4]:
df.shape

(41258, 15)

**Data splitting**

In [5]:
input_df = df.drop(["Unnamed: 0", "id", "CustomerId", "Surname","churn"], axis = 1)
output_df=df['churn']

In [15]:
x_train, x_test, y_train, y_test = train_test_split(input_df, output_df, test_size = 0.2, random_state = 42)

In [16]:
x_train.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
15731,725.0,Spain,Female,31.0,2,0.00,2,0,0,71830.10
6996,688.0,Spain,Male,36.0,4,0.00,1,1,0,129870.93
30824,748.0,France,Female,23.0,7,118028.35,1,0,1,41626.78
40019,701.0,France,Female,45.0,5,0.00,2,1,1,158948.63
21501,590.0,France,Female,23.0,5,113923.81,3,1,0,196789.90

In [17]:
y_train.head()

15731    0
6996     0
30824    0
40019    0
21501    1
Name: churn, dtype: int64

In [18]:
x_train.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

In [19]:
x_train.shape

(33006, 10)

In [20]:
y_train.shape

(33006,)

In [21]:
y_test.shape

(8252,)

**Handling missing value**

In [22]:
print('mean tenure:',np.mean(x_train['Tenure']))
print('mean credit score:',np.mean(x_train['CreditScore']))
print('mean balance:',np.mean(x_train['Balance']))
print('mean est.salary:',np.mean(x_train['EstimatedSalary']))

mean tenure: 5.035387505302066
mean credit score: 655.7789496014789
mean balance: 55687.94987941587
mean est.salary: 112663.98513967157

In [23]:
print("Gender mode:",sts.mode(x_train['Gender']))
print("Geography mode:",sts.mode(x_train['Geography']))

Gender mode: Male
Geography mode: France

In [24]:
x_test.isnull().sum()

CreditScore        3
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [28]:
x_train.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

There are missing values in the dataset

In [29]:
x_train['Tenure'].fillna(5, inplace=True)
x_test['Tenure'].fillna(5, inplace=True)

x_train['CreditScore'].fillna(655, inplace=True)
x_test['CreditScore'].fillna(655, inplace=True)

x_train['Balance'].fillna(55687, inplace=True)
x_test['Balance'].fillna(55687, inplace=True)

x_train['EstimatedSalary'].fillna(112663, inplace=True)
x_test['EstimatedSalary'].fillna(112663, inplace=True)

x_train['Gender'].fillna("Male", inplace=True)
x_test['Gender'].fillna("Male", inplace=True)

x_train['Geography'].fillna("France", inplace=True)
x_test['Geography'].fillna("France", inplace=True)

In [30]:
x_test.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [31]:
x_train.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

the missing values has been handled

**feature encoding**

In [32]:
gender_encode={"Gender": {"Male":1,"Female" :0}}
x_train=x_train.replace(gender_encode)
x_test=x_test.replace(gender_encode)

In [33]:
print(df["Geography"].value_counts())

geo_encode={"Geography": {"France":0,"Spain" :1,"Germany":2, "Other":3}}
x_train=x_train.replace(geo_encode)
x_test=x_test.replace(geo_encode)

x_feat = x_train.columns

Geography
France     23469
Spain       9057
Germany     8732
Name: count, dtype: int64

In [34]:
print(y_train.value_counts())
print("\n")
print(y_test.value_counts())

churn
0    25979
1     7027
Name: count, dtype: int64


churn
0    6431
1    1821
Name: count, dtype: int64

the data is unbalanced, we need to balance it to prevent bias in the result. i will use SMOTE to balance the data

In [37]:
from imblearn.over_sampling import SMOTE
os = SMOTE(random_state=0)
x_train_resampled, y_train_resampled = os.fit_resample(x_train, y_train)
y_train_resampled.value_counts()

churn
0    25979
1    25979
Name: count, dtype: int64

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x_train_resampled, y_train_resampled, test_size = 0.2, random_state = 0)

In [39]:
y_train.value_counts()

churn
1    20788
0    20778
Name: count, dtype: int64

In [40]:
y_test.value_counts()

churn
0    5201
1    5191
Name: count, dtype: int64

the data is now balanced. now we can proceed to training the model

**Model Training**

Random Forest

In [41]:
RF_model = RandomForestClassifier(criterion= 'gini',max_depth=4)
RF_model.fit(x_train, y_train)
rf_y_pred=RF_model.predict(x_test)

In [42]:
print('\nRF Report\n')
print(classification_report(y_test, rf_y_pred, target_names=['1','0']))

RF Report

              precision    recall  f1-score   support

           1       0.85      0.83      0.84      5201
           0       0.84      0.85      0.84      5191

    accuracy                           0.84     10392
   macro avg       0.84      0.84      0.84     10392
weighted avg       0.84      0.84      0.84     10392

XGboost

In [43]:
import xgboost as xgb

In [44]:
xgb_model = xgb.XGBClassifier()
xgb_model.fit(x_train, y_train)
xgb_y_pred = xgb_model.predict(x_test)

In [45]:
print('\nXGBoost Report\n')
print(classification_report(y_test, xgb_y_pred, target_names=['1','0']))

XGBoost Report

              precision    recall  f1-score   support

           1       0.89      0.90      0.89      5201
           0       0.90      0.89      0.89      5191

    accuracy                           0.89     10392
   macro avg       0.89      0.89      0.89     10392
weighted avg       0.89      0.89      0.89     10392

XGboost model performs better than RF model, so this is the model we will use

In [46]:
#Save the model to pickle

import pickle as pkl

filename = 'XGboost_churn.pkl'
pkl.dump(xgb_model, open(filename, 'wb'))

In [1]:
x_train.shape

NameError: name 'x_train' is not defined